<ul class="uk-navbar-nav">



    <li><a href="https://www.mitroteam.com/" style="color: #000;">Home</a></li>



    <li>
        <a href="#" style="color: #000;" aria-expanded="false">Buyers<span class="uk-margin-small-left uk-icon" uk-icon="chevron-down"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-down">
                    <polyline fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline>
                </svg></span></a>
        <div class="uk-navbar-dropdown false undefined uk-navbar-dropdown-bottom-left" style="left: 559.047px; top: 80.4375px;">
            <ul class="uk-nav uk-navbar-dropdown-nav">

                <li class="uk-active"><a href="https://search.mitroteam.com/idx/search/basic">Search the MLS</a></li>

                <li class="uk-active"><a href="https://www.showingnew.com/bethmitro" target="_blank">NEW HOME Search</a></li>

                <li class="uk-active"><a href="https://search.mitroteam.com/idx/featured">Featured Listings</a></li>

                <li class="uk-active"><a href="https://www.mitroteam.com/first-time-homebuyer/">First Time Home Buyer
                        Info</a></li>

                <li class="uk-active"><a href="https://www.mitroteam.com/buyers-need-an-experienced-agent/">Know Before
                        You Buy</a></li>

            </ul>
        </div>
    </li>



    <li>
        <a href="#" style="color: #000;" aria-expanded="false">Sellers<span class="uk-margin-small-left uk-icon" uk-icon="chevron-down"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-down">
                    <polyline fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline>
                </svg></span></a>
        <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left false undefined" style="left: 673.25px; top: 80.4375px;">
            <ul class="uk-nav uk-navbar-dropdown-nav">

                <li class="uk-active"><a href="https://www.mitroteam.com/home-valuation">Find Your Home Value</a></li>

                <li class="uk-active"><a href="https://www.mitroteam.com/thinking-about-selling/">Time to Sell?</a></li>

                <li class="uk-active"><a href="https://www.mitroteam.com/10-great-ways-selling-a-home-during-the-holidays-benefits-you/">Why
                        You Should Sell During the Holidays</a></li>

                <li class="uk-active"><a href="https://www.mitroteam.com/getting-a-divorce/">Getting a Divorce?</a></li>

            </ul>
        </div>
    </li>



    <li>
        <a href="#" style="color: #000;" aria-expanded="false">Resources<span class="uk-margin-small-left uk-icon" uk-icon="chevron-down"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-down">
                    <polyline fill="none" stroke="#000" stroke-width="1.03" points="16 7 10 13 4 7"></polyline>
                </svg></span></a>
        <div class="uk-navbar-dropdown false undefined uk-navbar-dropdown-bottom-left" style="left: 791.766px; top: 80.4375px;">
            <ul class="uk-nav uk-navbar-dropdown-nav">

                <li class="uk-active"><a href="https://www.mitroteam.com/testimonials/">Testimonials</a></li>

                <li class="uk-active"><a href="https://www.mitroteam.com/free-market-report/">Free Market Report</a>
                </li>

                <li class="uk-active"><a href="https://www.zillow.com/henderson-nv/home-values/" target="_blank">Zillow</a></li>

                <li class="uk-active"><a href="https://hendersondata.com/" target="_blank">Henderson Economics</a></li>

                <li class="uk-active"><a href="https://glvarstats.com/dashboard" target="_blank">Housing Market Data</a>
                </li>

                <li class="uk-active"><a href="https://www.mitroteam.com/our-team/">Meet the Team</a></li>

                <li class="uk-active"><a href="https://communitydashboard.vegas/" target="_blank">Las Vegas Economics</a></li>

                <li class="uk-active"><a href="https://communitydashboard.vegas/foreclosure" target="_blank">Las Vegas Foreclosure
                        Data</a></li>

                <li class="uk-active"><a href="https://nevadadashboard.com/" target="_blank">Nevada Economics</a></li>

                <li class="uk-active"><a href="https://www.seia.org/state-solar-policy/nevada-solar" target="_blank">Nevada Solar
                        Info</a></li>

                <li class="uk-active"><a href="https://apply.swbcmortgage.com/#/milestones?referrerId=tracy.logan%40swbc.com" target="_blank">Apply for
                        Mortgage w/SWBC</a></li>

                <li class="uk-active"><a href="https://search.mitroteam.com/idx/mortgage">Mortgage Calculator</a></li>

                <li class="uk-active"><a href="https://www.mitroteam.com/migration-population-and-county-growth/" target="_blank">Migration, Population
                        and County Growth</a></li>

                <li class="uk-active"><a href="https://www.mitroteam.com/remodeling/">Remodeling</a></li>

                <li class="uk-active"><a href="https://www.mitroteam.com/blog/">Blog</a></li>

            </ul>
        </div>
    </li>



    <li><a href="https://www.mitroteam.com/contact/" style="color: #000;">Contact</a></li>



    <div class="uk-navbar-item">
        <li><a href="https://search.mitroteam.com/idx/myaccount#/" class="uk-button uk-button-primary" style="background:#3B5ADB;color:#FFFFFF;">My Account</a></li>
    </div>


</ul>